[Unit]
Description=Nepta synchronization - Beaker test synchronization service
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
Type=simple
ExecStart=/usr/bin/sync_server --log debug

[Install]
WantedBy=multi-user.target
